/* section clients */
.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list__link {
  @extend %centredFlex;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  background-color: var(--primary-bcg-color);
  fill: var(--networksvg-color);

  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    fill: var(--accent-color);
  }
}
