/* features section */
.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    @media screen and (min-width: 480px) {
      width: 450px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  &__icons {
    @extend %centredFlex;

    margin-bottom: 30px;
    height: 120px;

    border-radius: 4px;
    background-color: var(--section-bcg-color);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;

    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
      display: flex;
      justify-content: center;
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--text-color);

    line-height: 1.71;
  }
}
