/* footer */
/* logo in footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bcg-color);

  &__container {
    display: flex;

    @media screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      align-items: baseline;
    }
  }

  &__wrapper {
    display: flex;
    margin-bottom: 60px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
      justify-content: space-around;
      align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 93px;
    }
  }

  &__logo {
    margin-right: 0;
  }
}

.logo__secondary--white-theme {
  color: var(--address-color);
}

/* address styles */
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-right: 80px;
  }
}

.address {
  margin-top: 20px;

  color: var(--address-color);
  font-style: normal;
  line-height: 1.71;

  &__list {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1199px) {
      align-items: center;
    }
  }

  &__link {
    color: var(--contacts-color);

    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
  }

  &__link:hover,
  &__linklink:focus {
    color: var(--accent-color);
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

/* Corporate networks styles */
.join {
  @extend %centredColumnFlex;

  &__call {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--address-color);
  }
}

.join-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    @extend %centredFlex;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--address-color);

    transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }
}

/* subscribe styles */
.subscribe-form {
  display: flex;
  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-end;
  }
}

.subscribe-field {
  @extend %centredColumnFlex;
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    align-items: flex-start;
    margin-right: 12px;
  }

  &__label {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--address-color);
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;

    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }

    font-size: 16px;
    line-height: 1.25;

    outline: none;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: var(--footer-bcg-color);
    color: var(--address-color);
    transition: border 250ms var(--timing-function);
  }

  &__input:hover,
  &__input:focus {
    border: 1px solid var(--address-color);
  }

  &__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.main-button__icon {
  fill: currentColor;
  text-align: center;
  margin-left: 10px;
}
