/* studio page styles */
/* hero section*/
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-bcg-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--address-color);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.overlay {
  margin-right: auto;
  margin-left: auto;

  max-width: 480px;
  height: 400px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-480.jpg);

  background-size: 480px 400px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/hero/hero-960.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-768.jpg);

    background-size: 768px 400px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-1536.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-1600.jpg);

    background-size: 1600px 600px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-3200.jpg);
    }
  }
}
